<!-- Popular Courses Section -->
<div class="popular-courses">
    <h2 class="animate">Popular Courses</h2>
    
    <div class="course-category">
        <h3>Programming Languages</h3>
        <div class="course-buttons">
            <a [routerLink]="'/courses/java'">Java</a>
            <a [routerLink]="'/courses/python'">Python</a>
            <a [routerLink]="'/courses/cplusplus'">C++</a>
            <a [routerLink]="'/courses/csharp'">C#</a>
            <a [routerLink]="'/courses/datastructure'">Data structure</a>
           
        </div>
    </div>

    <div class="course-category">
        <h3>Scripting Languages</h3>
        <div class="course-buttons">
            <a [routerLink]="'/courses/javascript'">JavaScript</a>
            <a [routerLink]="'/courses/typescript'">TypeScript</a>
            <a [routerLink]="'/courses/php'">PHP</a>
            <a [routerLink]="'/courses/HTML'">HTML</a>
            <a [routerLink]="'/courses/CSS'">CSS</a>
            <a [routerLink]="'/courses/Bootstrap'">Bootstrap</a>
            
        </div>
    </div>

    <div class="course-category">
        <h3>Database Languages</h3>
        <div class="course-buttons">
            <a [routerLink]="'/courses/sql'">SQL</a>
            <a [routerLink]="'/courses/plsql'">PL/SQL (Oracle)</a>
            <a [routerLink]="'/courses/tsql'">T-SQL (SQL Server)</a>
            <a [routerLink]="'/courses/mongodb'">MongoDB (NoSQL)</a>
            <a [routerLink]="'/courses/django'">Django</a>
        </div>
    </div>
</div>

