<!-- Top Recruiters Section -->
<div class="top-recruiters">
    <h3 class="animate">Top Recruiters</h3>
    <ul>
      
      <li>
        <img src="assets/banners/amzon.jpeg" alt="Amazon">
        <span>Amazon</span>
      </li>
      <li>
        <img src="assets/banners/google.jpeg" alt="Google">
        <span>Google</span>
      </li>
      <li>
        <img src="assets/banners/micro.jpg" alt="Microsoft">
        <span>Microsoft</span>
      </li>
      <li>
        <img src="assets/banners/meta.jpg" alt="Meta">
        <span>Meta</span>
      </li>
      <li>
        <img src="assets/banners/ibm.jpeg" alt="IBM">
        <span>IBM</span>
      </li>
      <li>
        <img src="assets/banners/apple.png" alt="Apple">
        <span>Apple</span>
      </li>
      <li>
        <img src="assets/banners/intel.webp" alt="Intel">
        <span>Intel</span>
      </li>
      
      <li>
        <img src="assets/banners/dell.jpg" alt="Dell">
        <span>Dell</span>
      </li>
      <li>
        <img src="assets/banners/tesla.jpg" alt="Tesla">
        <span>Tesla</span>
      </li>
      <li>
        <img src="assets/banners/netflix.png" alt="Netflix">
        <span>Netflix</span>
      </li>
      <li>
        <img src="assets/banners/adobe.webp" alt="Adobe">
        <span>Adobe</span>
      </li>
      <li>
        <img src="assets/banners/oracle.png" alt="Oracle">
        <span>Oracle</span>
      </li>
      <li>
        <img src="assets/banners/cisco.svg" alt="Cisco">
        <span>Cisco</span>
      </li>
     
      <li>
        <img src="assets/banners/facebook.jpeg" alt="Facebook">
        <span>Facebook</span>
      </li>
      <li>
        <img src="assets/banners/accenture.jpeg" alt="Accenture">
        <span>Accenture</span>
      </li>
      
      <li>
        <img src="assets/banners/zoom.jpeg" alt="Zoom">
        <span>Zoom</span>
      </li>
      <li>
        <img src="assets/banners/linkedin.jpeg" alt="LinkedIn">
        <span>LinkedIn</span>
      </li>
    </ul>
  </div>
  